openAIKey.txt
openAIKey-keelyon2000.txt

# Personal files / folders
CV_Resumes/
The Google Resume.pdf
Transcript.pdf
OSU 1828293_eDiploma.pdf
misc/

# Datasets
cs499-INFORMATION-RETRIEVAL/HW*/yelp/
cs499-INFORMATION-RETRIEVAL/HW*/yelp_sample/
